a.active {
    border-left:calculateRem(4px) solid var(--primary-400);
    background: var(--primary-100);
    color:var(--primary-color);
    font-weight: bold;
    [dir="rtl"] & {
      border-left:none;
      border-right:calculateRem(4px) solid var(--primary-400);
    }
}